<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BearerToken" value="Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzMTYwMWNmYmRmMDU4ZmFjOTExMTA2Y2NmNDU5OWY0NCIsInN1YiI6IjY1MWQ1ZjJkMDcyMTY2MDBhY2I2NmM2MCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.WXBom4E0Ht9pWDUJC2QeFiDUeBm74RgL59PvU4uY1n4" />
	</appSettings>
</configuration>